{
  "serve": {
    "hostname": "0.0.0.0",
    "port": 3799,
    "queueDir": "/data/queues"
  },
  "dirs": {
    "output": "/data/music",
    "check": [],
    "mirror": ["/data/cds-alac", "/data/cds-mp3"],
    "mirrorToOutput": true,
    "cache": {
      "path": "<cache>",
      "keep": true
    }
  },
  "opts": {
    "netCheck": true,
    "attemptAuth": false,
    "autoOpenBrowser": false
  },
  "downloader": {
    "sources": ["yt_music", "youtube"]
  },
  "services": {}
}
